Api_Gateway/node_modules
Microservices/Account_Management/node_modules
Microservices/Account_Management/node_modules
Microservices/Billing/node_modules
Microservices/Chat/node_modules
Microservices/Notification/node_modules
Microservices/Payment/node_modules
Microservices/Checkout/node_modules
Microservices/Service/node_modules